body {
  margin: 0;
  display: block;
  background-image: url(.\\background.png);
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  font-family: Arial, Helvetica, sans-serif;
}

.boardAndSchema {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.rightMenu {
  display: flex;
  flex-direction: column;
}

.schemaAndPunteggi {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

td {
  font-size: xx-large;
}
